#!/bin/sh

start() {
	if [ ! -f modules/ivi.ko ] ; then
		make -C modules
		make -C utils
	fi
	if ( lsmod | grep "ivi" ) ; then
		echo "Error: modules exist, run 'control restart' instead."
		exit 1
	fi
	echo "Starting IVI modules: "
	insmod modules/ivi.ko
	echo "insmod ivi.ko"
	if [ ! -e /dev/ivi ] ; then
		mknod /dev/ivi c 24 0
		echo "mknod /dev/ivi c 24 0"
	fi
	return 0
}

stop() {
	if ( lsmod | grep "ivi" ) ; then
		echo "Stopping IVI modules: "
		rmmod ivi
		echo "rmmod ivi"
		rm /dev/ivi
		echo "rm /dev/ivi"
	else
		echo "Error: modules do not exist."
	fi
	return 0
}

case "$1" in 
	start)
		start
		;;
	stop)
		stop
		;;
	restart|reload)
		stop
		start
		;;
	*)
		echo "Usage: control {start|stop|restart|reload}"
		exit 1
esac

exit 0
